

:root {
  --primary-light: #eff0f2;
  --primary-normal: #021D40;
  --primary-normal-hover: #021A3A;
  --primary-dark: #021630;

  --secondary-normal: #7AA64E;
  --secondary-normal-hover: #6E9546;
  --secondary-dark: #5C7D3B;

  --body-normal: #242424;
  --body-dark: #1B1B1B;
  --body-darker: #0D0D0D;

  --gray-normal: #6B6B6B;
  --gray-dark: #505050;
  --gray-darker: #252525;

  --white-normal: #FFF;
  --white-gray: #E6E6E6;

  --danger-normal: #DD0303;
  --danger-normal-active: #B10202;
  --danger-dark: #850202;
}

// this are all the font declaration for the Roboto 
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppin/Poppins-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppin/Poppins-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppin/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppin/Poppins-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppin/Poppins-ExtraBold.ttff') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppin/Poppins-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppin/Poppins-Thin.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppin/Poppins-ThinItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppin/Poppins-RegularItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppin/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppin/Poppins-Thin.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppin/Poppins-ThinItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppin/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppin/Poppins-RegularItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppin/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppin/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppin/Poppins-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}






// Fonts
$font-family-Poppin: 'Poppins', 'sans';


// Headings
$h1-font-size: 48px;
$h1-font-weight: 700;
$h1-line-height: 44px;


$h2-font-size: 36px;
$h2-font-weight: 700;
$h2-line-height: 36px;
$h2-letter-spacing: -0.72px;

$h3-font-size: 24px;
$h3-font-weight: 700;
$h3-line-height: 32px;
$h3-letter-spacing: -0.42px;

$h4-font-size: 20px;
$h4-font-weight: 400;
$h4-line-height: 24px;
$h4-letter-spacing: -0.3px;

$h5-font-size: 15px;
$h5-font-weight: 700;
$h5-line-height: 20px;
$h5-letter-spacing: -0.225px;

// Paragraphs
$p1-font-size: 18px;
$p1-font-weight: 400;
$p1-bold-font-weight: 600;
$p1-line-height: 28px;

$p2-font-size: 16px;
$p2-font-weight: 400;
$p2-bold-font-weight: 500;
$p2-line-height: 24px;

$p3-font-size: 14px;
$p3-font-weight: 400;
$p3-bold-font-weight: 500;
$p3-line-height: 20px;

$p4-font-size: 12px;
$p4-font-weight: 400;
$p4-bold-font-weight: 600;
$p4-line-height: 16px;
$p4-text-transform: capitalize;

// Buttons
$b1-font-size: 16px;
$b1-font-weight: 400;
$b1-bold-font-weight: 700;
$b1-line-height: 24px;

$b2-font-size: 14px;
$b2-font-weight: 400;
$b2-bold-font-weight: 700;
$b2-line-height: 20px;

// Captions
$c1-font-size: 12px;
$c1-font-weight: 400;
$c1-bold-font-weight: 600;
$c1-line-height: 16px;

$c2-font-size: 10px;
$c2-font-weight: 400;
$c2-bold-font-weight: 600;
$c2-line-height: 16px;

// Typography Classes

h1 {
  font-family: $font-family-Poppin;
  font-size: $h1-font-size;
  font-weight: $h1-font-weight;
  line-height: $h1-line-height;
}

h2 {
  font-family: $font-family-Poppin;
  font-size: $h2-font-size;
  font-weight: $h2-font-weight;
  line-height: $h2-line-height;
  letter-spacing: $h2-letter-spacing;
}
h3 {
  font-family: $font-family-Poppin;
  font-size: $h3-font-size;
  font-weight: $h3-font-weight;
  line-height: $h3-line-height;
  letter-spacing: $h3-letter-spacing;
}

h4 {
  font-family: $font-family-Poppin;
  font-size: $h4-font-size;
  font-weight: $h4-font-weight;
  line-height: $h4-line-height;
  letter-spacing: $h4-letter-spacing;
}

h5 {
  // font-family: $font-family-Poppin;
  font-size: $h5-font-size;
  font-weight: $h5-font-weight;
  line-height: $h5-line-height;
  letter-spacing: $h5-letter-spacing;
}
p {
  font-family: $font-family-Poppin;
}

label {
  font-family: $font-family-Poppin;
}

span {
  font-family: $font-family-Poppin;

}
// 

